In [6]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

pd.set_option ('display.max_rows', 10)
pd.set_option ('display.notebook_repr_html', True)
pd.set_option ('display.max_columns', 10)

%matplotlib inline 
plt.style.use ('ggplot')

In [9]:
df = pd.read_csv('train.csv')

In [10]:
df

        Store  Dept        Date  Weekly_Sales IsHoliday
0           1     1  2010-02-05      24924.50     False
1           1     1  2010-02-12      46039.49      True
2           1     1  2010-02-19      41595.55     False
3           1     1  2010-02-26      19403.54     False
4           1     1  2010-03-05      21827.90     False
...       ...   ...         ...           ...       ...
421565     45    98  2012-09-28        508.37     False
421566     45    98  2012-10-05        628.10     False
421567     45    98  2012-10-12       1061.02     False
421568     45    98  2012-10-19        760.01     False
421569     45    98  2012-10-26       1076.80     False

[421570 rows x 5 columns]

In [11]:
df.Weekly_Sales.mean()

15981.258123467243

In [12]:
df.Weekly_Sales.var()

515797856.84110695

In [13]:
df.Weekly_Sales.std()

22711.18351916313

In [14]:
df.Weekly_Sales.median()

7612.03

In [15]:
df.min()

Store                    1
Dept                     1
Date            2010-02-05
Weekly_Sales      -4988.94
IsHoliday            False
dtype: object

In [16]:
df.max()

Store                   45
Dept                    99
Date            2012-10-26
Weekly_Sales        693099
IsHoliday             True
dtype: object

In [18]:
df[df.Weekly_Sales == df.Weekly_Sales.min()]

        Store  Dept        Date  Weekly_Sales IsHoliday
267730     28     6  2010-10-08      -4988.94     False